{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account_create_edit.css'%}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Edit Profile for {{ user.username }}</h1>
			<form method="POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{% for field in form %}
					<div class="form-group">
						{{ field.errors }}
						{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				<button class="btn btn-default" type="submit" value="edit_profile">Save Changes</button>
			</form>
		</div>
		<br>
	</div>
</div>
{% endblock %}