{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
		{% if validlink %}
			<h1 class="text-center">Change password</h1>
			<form method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{% for field in form %}
					<div class="form-group">
						{{ field.errors }}
						{{ field.label_tag }}
						<input class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="password">
					</div>
				{% endfor %}
				<button class="btn" type="submit">Change password</button>
			</form>
		{% else %}
			<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}