{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1 class="text-center">Forgot Password</h1>
			<form method="POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{% for field in form %}
					<div class="form-group">
						{{ field.errors }}
						{{ field.label_tag }}
						<input class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="text">
					</div>
				{% endfor %}
				<p><em>If you have an account, a link will be sent to your email to reset the password.</em></p>
				<button class="btn" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}