{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account_create_edit.css'%}">
{% endblock %}

{% block js %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Sign up</h1>
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						{{ field.errors }}
						{{ field.label_tag }} {{ field }}
						{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}
					</div>
				{% endfor %}
				<div class="g-recaptcha" data-sitekey="6LfRjFcUAAAAAMLEXvpZfavfkLQxq14DBgww-Faz"></div>
				<br>
				<button class="btn" type="submit" value="sign_up">Sign up</button>
			</form>
			<br>
		</div>
	</div>
</div>
{% endblock %}