body {
	margin-top: 50px;
}

.navbar {
    border-radius: 0px;
    background-color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 hr {
 	margin: 0;
 	padding: 0;
 }