/* Shrink header size */
h1 {
	font-size: 5em;
}

#user-info, .calendar-label {
	font-size: 1.2em;
}

.event-table, .calendar-table, .location-table {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#events-panel, #calendar-panel, #location-panel {
	max-height: calc(100vh - 18em);
	padding-left: 1em;
	overflow-y: auto;
}

.event-table tr[data-event-pk] td, .calendar-table tr[data-calendar-pk] td {
	border: 3px solid white;
	color: white;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.location-table tr[data-location-pk] td {
	color: black;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#user-buttons {
	margin-top: 1.2em;
}

.user-label, .calendar-label {
	font-weight: bold;
}

/* Customizes bullet next to calendar name */
.bullet {
	height: 0.7em;
	width: 0.7em;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

/* Sets hover settings for event rows */
.event-table tr[data-event-pk]:hover, .calendar-table tr[data-calendar-pk]:hover, .location-table tr[data-location-pk]:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2) !important;
}

/* Sets width of columns */
.time-column {
	width: 30%;
}
.title-column {
	width: 20%;
}
.event-info-column {
	width: 50%;
}

/* Sets height of rows */
.time-column, .title-column, .event-info-column {
	height: 5%;
}

/* Add space after nav tab menu */
ul.nav.nav-tabs {
	margin-bottom: 1.5em;
}