#overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#delete-reason-form {
	background: white;
	position: absolute;
	top: 25%;
	left: 15%;
	right: 15%;
	padding: 1em 1em 1em 1em;
}

#delete-form-header {
	margin-top: 0;
}

span.glyphicon.glyphicon-remove {
	float: right;
}

span.glyphicon.glyphicon-remove:hover {
	color: rgba(157, 157, 157, 0.5);
	cursor: pointer;
}