{% load staticfiles %}
{% load calendar_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Colman-Egan Calendar</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/spectrum.css' %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/spectrum.js' %}"></script>
</head>
<body>
{% pagination_links request.path as pagination_links %}
{% new_event_or_calendar_links request.path as new_event_or_calendar_links %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#calendar-navbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span> 
			</button>
		  	<a class="navbar-brand" href="{% url 'home' %}">Colman-Egan Calendar</a>
		</div>
		<div class="collapse navbar-collapse" id="calendar-navbar">
			{# Dislpays the pagination arrows for the calendar #}
			<ul class="nav navbar-nav">
				{% if pagination_links %}
					{% if 'month' in request.path %}
						<li>
							<div class="btn-group">
								<a class="btn btn-default navbar-btn" href="{% url 'month' year=previous_month.year.year month=previous_month.month %}" data-toggle="tooltip" data-placement="bottom" title="Previous Month"><span class="glyphicon glyphicon-arrow-left"></span></a>
								<a class="btn btn-default navbar-btn" href="{% url 'month' year=next_month.year.year month=next_month.month %}" data-toggle="tooltip" data-placement="bottom" title="Next Month"><span class="glyphicon glyphicon-arrow-right"></span></a>
							</div>
						</li>
					{% elif 'week' in request.path %}
						<li>
							<div class="btn-group">
								<a class="btn btn-default navbar-btn" href="{% url 'week' year=first_day_of_last_week.month.year.year month=first_day_of_last_week.month.month first_day_of_week=first_day_of_last_week.day_of_month %}" data-toggle="tooltip" data-placement="bottom" title="Previous Week"><span class="glyphicon glyphicon-arrow-left"></span></a>
								<a class="btn btn-default navbar-btn" href="{% url 'week' year=first_day_of_next_week.month.year.year month=first_day_of_next_week.month.month first_day_of_week=first_day_of_next_week.day_of_month %}" data-toggle="tooltip" data-placement="bottom" title="Next Week"><span class="glyphicon glyphicon-arrow-right"></span></a>
							</div>
						</li>
					{% elif 'day' in request.path %}
						<li>
							<div class="btn-group">
								<a class="btn btn-default navbar-btn" href="{% url 'day' year=previous_day.month.year.year month=previous_day.month.month day=previous_day.day_of_month %}" data-toggle="tooltip" data-placement="bottom" title="Previous Day"><span class="glyphicon glyphicon-arrow-left"></span></span></a>
								<a class="btn btn-default navbar-btn" href="{% url 'day' year=next_day.month.year.year month=next_day.month.month day=next_day.day_of_month %}" data-toggle="tooltip" data-placement="bottom" title="Next Day"><span class="glyphicon glyphicon-arrow-right"></a>
							</div>
						</li>
					{% endif %}
					{# Displays the current month and year on the view #}
				    <li><p class="navbar-text">{{ current_month.month_str }} {{ current_month.year.year }}</p></li>
			    {% endif %}
		  	</ul>
		  	<ul class="nav navbar-nav navbar-right">
		  		{# Displays the 'new' links when appropriate #}
		  		{% if new_event_or_calendar_links %}
				    {% if perms.calendarapp.add_event or perms.calendarapp.add_calendar %}
					    <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown">New <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					        	{% if perms.calendarapp.add_event %}
						        	<li><a href="{% url 'new_event' %}">Event</a></li>
						        {% endif %}
						        {% if perms.calendarapp.add_calendar %}
						        	<li><a href="{% url 'new_calendar' %}">Calendar</a></li>
						        {% endif %}
					        </ul>
					     </li>
					{% endif %}
				{% endif %}
				{# Displays the current type of view and a dropdown to change view #}
				{% if pagination_links %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">{{ type_of_view }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'month' year=current_month.year.year month=current_month.month %}">Month</a></li>
							<li><a href="{% url 'week' year=first_day_of_week.month.year.year month=first_day_of_week.month.month first_day_of_week=first_day_of_week.day_of_month %}">Week</a></li>
							<li><a href="{% url 'day' year=day_view_day.month.year.year month=day_view_day.month.month day=day_view_day.day_of_month %}">Day</a></li>
						</ul>
					</li>
				{% endif %}
				{# Displays the login/signup/logout links when appropriate #}
		  		{% if request.path != '/accounts/login/' or request.path != '/accounts/signup/' %}
					{% if user.is_authenticated %}
						<li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span> Hi, {{ user.username }}!</p></li>
						<li><a href="{% url 'logout' %}"> <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					{% else %}
						<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					{% endif %}
				{% endif %}
		  	</ul>
		</div>
	</div>
</nav>

{% block content %}
{% endblock %}

<script type="text/javascript">
	$('[data-toggle="tooltip"]').tooltip();
</script>

</body>
</html>