<h2>Filter Calendars</h2>
<ul id="filter-calendars-list">
	{% for calendar in calendars %}
		<li>
			<label for="filter-calendar-{{ calendar.pk }}" style="color: {{ calendar.color }};">
				<input type="checkbox" name="filter-calendar" value="{{ calendar.pk }}" id="filter-calendar-{{ calendar.pk }}">    {{ calendar.event_calendar }}
			</label>
		</li>
	{% endfor %}
</ul>

<script type="text/javascript">
	//Checks calendar checkboxes to hide based on user preferences and default calendars
	{% for calendar in shown_calendars %}
		$('input[name="filter-calendar"][value="{{ calendar.pk }}"]').prop('checked', true);
	{% endfor %}

	//Hide events based on user preferences and default calendars
	{% for calendar in hidden_calendars %}
		$('li[data-calendar-pk="{{ calendar.pk }}"]').hide();
	{% endfor %}

	//Show and hide events based on checkboxes
	$('input[name="filter-calendar"]').change(function () {
		var calendars_to_show = [];
		$('input[name="filter-calendar"]:checked').each(function() {
			calendars_to_show.push(parseInt($(this).val()));
		});
		//Show all events associated with chosen calendar
		if(calendars_to_show.length) {
			for(var i = 0; i < calendars_to_show.length; i++) {
				$('li[data-calendar-pk="' + calendars_to_show[i] + '"]').show();
			}
		} else {
			//Hide all calendars if there are none to show
			$('li[data-calendar-pk]').hide();
		}

		var calendars_to_hide = [];
		$('input[name="filter-calendar"]:not(:checked)').each(function() {
			calendars_to_hide.push(parseInt($(this).val()));
		});
		if(calendars_to_hide.length) {
			for(var i = 0; i < calendars_to_hide.length; i++) {
				$('li[data-calendar-pk="' + calendars_to_hide[i] + '"]').hide();
			}
		} else {
			//Show all calendars if there are none to hide
			$('li[data-calendar-pk]').show();
		}
	});
</script>