<h2>Filter Calendars</h2>
<ul id="filter-calendars-list">
	{% for calendar in calendars %}
		<li>
			<label for="filter-calendar-{{ calendar.pk }}">
				<input type="checkbox" name="filter-calendar" value="{{ calendar.pk }}" id="filter-calendar-{{ calendar.pk }}">    {{ calendar.event_calendar }}
			</label>
		</li>
	{% endfor %}
</ul>

<script type="text/javascript">
	//Checks calendar checkboxes to hide based on user preferences and default calendars
	{% for calendar in shown_calendars %}
		$('input[name="filter-calendar"][value="{{ calendar.pk }}"]').prop('checked', true);
	{% endfor %}

	//Hide events based on user preferences and default calendars
	{% for calendar in hidden_calendars %}
		$('li[data-calendar-pk="{{ calendar.pk }}"]').hide();
	{% endfor %}

	//Hides and shows calendars depending on what boxes are checked
	$('input[name="filter-calendar"]').change(function () {
		var calendars_to_show = [];
		$('input[name="filter-calendar"]:checked').each(function() {
			calendars_to_show.push(parseInt($(this).val()));
		});
		//console.log(calendars_to_show);
		$.ajax({
			url: "{% url 'filter_calendars' %}",
			data: {
				calendar_pks: calendars_to_show
			},
			dataType: 'json',
			success: function (data) {
				//console.log(data.hidden_calendars_pks);
				//A collection of the primary keys of the calendars to hide
				var calendars_to_hide = data.hidden_calendars_pks;
				//Hide all events associated with a calendar to hide
				//console.log("calendars_to_hide: " + calendars_to_hide);
				if(calendars_to_hide) {
					for(var i = 0; i < calendars_to_hide.length; i++) {
						$('li[data-calendar-pk="' + calendars_to_hide[i] + '"]').hide();
					}
				} else {
					//Show all calendars if there are none to hide
					$('li[data-calendar-pk]').show();
				}
				//Show all events associated with chosen calendar
				//console.log("calendars_to_show: " + calendars_to_show);
				if(calendars_to_show.length) {
					for(var i = 0; i < calendars_to_show.length; i++) {
						$('li[data-calendar-pk="' + calendars_to_show[i] + '"]').show();
					}
				} else {
					//Hide all calendars if there are none to show
					$('li[data-calendar-pk]').hide();
				}
			}
		});
	});
</script>