{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 class="text-center">Delete Calendar</h1>
			<form method="POST">
				{% csrf_token %}
				<p>Are you sure you want to delete the <strong>{{ calendar.event_calendar }}</strong> calendar? It will remove all events associated with the calendar.</p>
				<div class="row">
					<div class="col-sm-6">
						<button class="btn btn-default" type="submit" value="delete_calendar">Yes</button>
					</div>
					<div class="col-sm-6">
						<button class="btn btn-default pull-right" type="button" onclick="window.location.href='{% url 'calendar_view' slug=calendar.slug %}'">No</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}