{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
	<h1>Edit Event</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ event_form.as_p }}
		{{ reason_form.as_p }}
		<button type="submit" value="save_event">Save Event</button>
	</form>
	<br>
	<p>Calendar not showing up? <a href="{% url 'new_calendar' %}">Create a new one.</a></p>
</div>

{% if new_event_form.errors %}
<script type="text/javascript">alert("Address the following error messages")</script>
{% endif %}

<script type="text/javascript" src="{% static 'js/eventform.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

{% endblock %}