{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/spectrum.css' %}">
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Edit Calendar</h1>
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% for field in calendar_form %}
					<div class="form-group">
						{{ field.errors }}
						{{ field.label_tag }}{% if forloop.counter == 1 or forloop.counter == 2 %}<br>{% endif %}
						{{ field }}
					</div>
				{% endfor %}
				<button class="btn btn-default" type="submit" value="edit_calendar">Save Calendar</button>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/spectrum.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendarform.js' %}"></script>

{% endblock %}