{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/location_view.css'%}">
{% endblock %}

{% block content %}

<div class="container">
	<h1 class="text-center">Location: {{ location.location }}</h1>
	<p id="location-info">Events in this location happening in the future...</p>
	<table class="table table-bordered" id="event-table">
		{% if not events %}
		<tr>
			<td>No events for this location in the future</td>
		</tr>
		{% else %}
			{% for event in events %}
				<tr data-calendar-pk="{{ event.calendar.pk }}" style="background-color: {{ event.calendar.color }}">
					<td class="title-column">
						{{ event.title }}
					</td>
					<td class="time-column">
						<a href="{% url 'event_view' year=event.start_date.year month=event.start_date.month day=event.start_date.day pk=event.pk slug=event.slug %}"></a>
						{% if event.all_day and event.start_date == event.end_date %}
							{{ event.start_date }} (all-day)
						{% elif event.all_day and event.start_date != event.end_date %}
							{{ event.start_date }} - {{ event.end_date }} (all-day)
						{% else %}
							{{ event.start_date }}, {{ event.start_time }} &mdash; {{ event.end_date }}, {{ event.end_time }}
						{% endif %}
					</td>
					<td class="event-info-column">
						{% if event.event_info %}
							{{ event.event_info }}
						{% else %}
							No event info
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>

	<div class="row" id="location-buttons">
		<div class="col-sm-6">
			{% if perms.calendarapp.change_location %}
				<p><a class="btn btn-default" href="{% url 'edit_location' slug=location.slug %}">Edit Location</a></p>
			{% endif %}
		</div>
		<div class="col-sm-6">
			{% if perms.calendarapp.delete_location %}
				<p><a class="btn btn-default pull-right" href="{% url 'delete_location' slug=location.slug %}">Delete Location</a></p>
			{% endif %}
		</div>
	</div>
</div>

<script type="text/javascript">
//Allows users to click entire row to navigate to event
$('tr[data-calendar-pk]').click( function() {
	window.location = $(this).find('a').attr('href');
});
</script>

{% endblock %}