{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="container">
	<table class="table table-bordered">
		<tbody>
			{% for week in month_weeks %}
				<tr>
					{% for day in week %}
						<td><a href="{% url 'day' year=day.month.year.year month=day.month.month day=day.day_of_month %}">{{ day.day_of_month|ordinal }} of {{ day.month.month_str }}</a>
							<br>
							<ul>
								{% for event in day.sorted_events %}
									<li data-calendar-pk="{{ event.calendar.pk }}">
										<a href="{% url 'event_view' year=day.month.year.year month=day.month.month day=day.day_of_month pk=event.pk slug=event.slug %}" style="color: {{ event.calendar.color }};">
										{% if not event.all_day%}
											{{ event.start_time|time:'f A' }}
										{% endif %}
										{{ event.title }} {% if event.all_day %}(All-day){% endif %}</a>
									</li>
								{% endfor %}
							</ul>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% include 'calendar_filter.html' %}

	<h2>Calendars</h2>
	<ul>
	{% for calendar in calendars %}
		<li><a href="{% url 'calendar_view' slug=calendar.slug %}" style="color: {{ calendar.color }};">{{ calendar.event_calendar }}</a></li>
	{% endfor %}
	</ul>

	<h2>Locations</h2>
	<ul>
	{% for location in locations %}
		<li><a href="{% url 'location_view' slug=location.slug %}">{{ location.location }}</a></li>
	{% endfor %}
	</ul>

</div>

{% endblock %}