{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
	<h1>New Event</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ new_event_form.as_p }}
		<button type="submit" value="create_event">Create Event</button>
	</form>
	<br>
	<p>Calendar not showing up? <a href="{% url 'new_calendar' %}">Create a new one.</a></p>
</div>

{% if new_event_form.errors %}
<script type="text/javascript">alert("Address the following error messages")</script>
{% endif %}

<script type="text/javascript" src="{% static 'js/eventform.js' %}"></script>

{% endblock %}