{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/spectrum.css' %}">
{% endblock %}

{% block content %}

<div class="container">
	<h1>New Calendar</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ new_calendar_form.as_p }}
		<button type="submit" value="create_calendar">Create Calendar</button>
	</form>
</div>

<script type="text/javascript" src="{% static 'js/spectrum.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendarform.js' %}"></script>

{% endblock %}