{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="container">
	<h1>Week of {{ week.first.month.month_str }} {{ week.first.day_of_month|ordinal }}, {{ week.first.month.year.year }}</h1>
	<table class="table table-bordered">
		<tr>
			{% for day in week %}
				<th><a href="{% url 'day' year=day.month.year.year month=day.month.month day=day.day_of_month %}">{{ day.day_of_week_str }}, {{ day.month.month_str }} {{ day.day_of_month|ordinal }}</a></th>
			{% endfor %}
		</tr>
		<tr>
			{% for day in week %}
				<td>
					{% if not day.sorted_events %}
						<p>No events scheduled</p>
					{% else %}
					<ul>
						{% for event in day.sorted_events %}
							<li data-calendar-pk="{{ event.calendar.pk }}">
								<a href="{% url 'event_view' year=day.month.year.year month=day.month.month day=day.day_of_month pk=event.pk slug=event.slug %}" style="color: {{ event.calendar.color }};">
								{% if not event.all_day%}
									{{ event.start_time|time:'f A' }}
								{% endif %}
								{{ event.title }} {% if event.all_day %}(All-day){% endif %}</a>
							</li>
						{% endfor %}
					</ul>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	</table>

	{% include 'calendar_menu.html' %}

</div>

{% endblock %}