<p>{{ user.username }} wants to create the following calendar:</p>

{% include 'email/calendar_snippet_html.txt' %}


<p><a href="http://{{ domain }}{% url 'approve_calendar' slug=calendar.slug %}">Click here to approve the calendar as is.</a></p>

<p><a href="http://{{ domain }}{% url 'edit_calendar' slug=calendar.slug %}">If you want to make changes to the calendar before its creation, click here.</a></p>

<p><a href="http://{{ domain }}{% url 'reject_calendar' slug=calendar.slug %}">Click here to reject the calendar</a></p>