<p>{{ user.username }} wants to delete the following event for the following reasons:</p>

<p>Reason:</p>
<p>{{ reason }}</p>

<p>Event:</p>
{% include 'email/event_snippet_html.txt' %}

{% if event_conflicts %}
<p>Event Conflicts:</p>
<ul>
{% for event in event_conflicts %}
	<li>{{ event.title }} going from {{ event.start_date }} {{ event.start_time }} to {{ event.end_date }} {{ event.end_time }}</li>
{% endfor %}
</ul>
{% else %}
<p>There are no event conflicts.</p>
{% endif %}

<p><a href="http://{{ domain }}{% url 'approve_event_delete' slug=event.slug pk=event.pk deleting_user_pk=user.pk %}">Click here to delete the event.</a></p>

<p><a href="http://{{ domain }}{% url 'reject_event_delete' slug=event.slug pk=event.pk deleting_user_pk=user.pk %}">Click here to deny the deletion of the event.</a></p>