<p>{{ user.username }} wants to create the following event:</p>

{% include 'email/event_snippet_html.txt' %}

{% if event_conflicts %}
<p>Event Conflicts:</p>
<ul>
{% for event in event_conflicts %}
	<li>{{ event.title }} going from {{ event.start_date }} {{ event.start_time }} to {{ event.end_date }} {{ event.end_time }}</li>
{% endfor %}
</ul>
{% else %}
<p>There are no event conflicts.</p>
{% endif %}

<p><a href="http://{{ domain }}{% url 'approve_event' slug=event.slug pk=event.pk %}">Click here to approve the event as is.</a></p>
<p><a href="http://{{ domain }}{% url 'edit_event' year=event.start_date.year month=event.start_date.month day=event.start_date.day pk=event.pk slug=event.slug %}">If you want to approve the event but make a few changes, click here.</a></p>
<p><a href="http://{{ domain }}{% url 'reject_event' slug=event.slug pk=event.pk %}">Click here to completely reject the event</a></p>