{% autoescape off %}
{{ user.username }} wants to create the following event:

{% include 'email/event_snippet_raw_text.txt' %}

{% if event_conflicts %}
Event Conflicts:
{% for event in event_conflicts %}
	-{{ event.title }} going from {{ event.start_date }} {{ event.start_time }} to {{ event.end_date }} {{ event.end_time }}
{% endfor %}
{% else %}
There are no event conflicts.
{% endif %}

Click the link below to approve the event as is:
http://{{ domain }}{% url 'approve_event' slug=event.slug pk=event.pk %}

If you want to make changes to the event before its creation, click the link below:
http://{{ domain }}{% url 'edit_event' year=event.start_date.year month=event.start_date.month day=event.start_date.day pk=event.pk slug=event.slug %}

Click the link below to deny the event:
http://{{ domain }}{% url 'reject_event' slug=event.slug pk=event.pk %}
{% endautoescape %}